@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import "./utils/variables";
@import "./utils/mixins";

::-webkit-scrollbar{
    width: 100%;
}

htlm,body {
    @include roboto;
    box-sizing: border-box;
    margin:0;  
}


    .header {
        
        margin: 10px;
        @include ecran-mobile {
            @include centre;
            
        }   
    }

    .logo {
        width: 30%;
        @include ecran-mobile {
        width: 50%;
        }
     }
    
 
.geolocalisation {
  @include centre;
  background-color: $couleur-icone;
  border-radius:5px;
  padding: 15px;
  >.marge{
     margin-right: 10px;
  }
}

.accroche{
    background-color: #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.conteneur {
    background-color: $couleur-fond-menu;
    padding-bottom: 50px;
}

.titre{
    @include police-bold;
    @include police-size(25px);
    margin-left: 20px;
    padding-top: 30px;    
}

.slogan{
    @include police-bold;
    @include police-size(25px);
    margin-left: 20px;
    @include ecran-mobile{
        text-align: center;} 
}
.description {
    font-weight: 300;
    @include ecran-mobile{
        text-align: center;} 
}
.couleur_gris {
    color: grey;
    
}

/*bouton rose*/

.btn
{
    color:$couleur-accentuation;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px $couleur-ombre; 
    background: $couleur-degradé;
    @include hover  
}


/* fonctionnement*/
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 0;
    position: relative;
    
   
    @include ecran-mobile{
        flex-direction: column;
        align-items: center;
    } 
}

    .filtre{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        z-index: 0;
        width: 35%;
        @include ecran-mobile{
            width: 90%;
        } 
        &_cercle{
            height: 20px;
            width: 20px;
            border-radius: 20px;
            background: $couleur-primaire;
            text-align: center;
            z-index: 1;
            position: absolute;
        }
        &_icone{
            padding-left: 10px;
            padding-right: 10px;
            color: grey;
        }
        &_info {
            margin-left: 10px;
            border: 1px solid transparent;
            border-radius: 20px;
            padding: 15px;
            box-shadow: 2px 2px 2px 2px $couleur-ombre;
            
            width: 100%;
            background-color:couleur-accentuation;
            z-index: 0;
            &:hover {
                background-color:$couleur-survol-filtre;
                @include degrade_ombre
            }
            &:hover .filtre_icone{
                color:$couleur-primaire;
            }    
        }
    }

/*section*/

/*les cartes, les images, le descriptif*/
.conteneur_images{
    display: flex;
    justify-content: space-around;
    
    
    @include ecran-mobile{
        flex-direction: column;
        align-items: center;
        
    } 
    .descriptif_image {
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include ecran-mobile{
            justify-content: space-between;
            margin-left: 10px;
            margin-right: 20px; 
        } 
    }

    .nom_ville {
        font-weight: 200;  
    }
        
    .taille{
        @include police-size(25px);
       
    }
}


/* creation de la carte,liens sur la carte, remplissage icone coeur*/
.carte {
    background-color: $couleur-accentuation;
    width: 20%;
    box-shadow: 5px 5px 5px $couleur-ombre; 
    border-radius: 15px 15px 15px 15px;
    @include ecran-mobile{
        width: 90%;
        margin-bottom: 20px;
    } 
    &_lien{
        text-decoration: none;
        color: black;
        &:hover .coeur_vide  {
            display: none;
            @include ecran-mobile{
                display: block;  
            }
            
        }
        &:hover .coeur_plein {
            opacity:100%;
            background: $couleur-degradé;
            color:transparent;
            background-clip: text;
            @include ecran-mobile{
                opacity: 0;  
            }     
        }
        @include ecran-mobile{
            &:active .coeur_vide  {
                display: none;
                
            }
            &:active .coeur_plein {
                opacity:100%;
                background: $couleur-degradé;
                color:transparent;
                background-clip: text;  
            }
        }     

        
    }

    .coeur_plein {
        opacity:0;
        transition-property:all;
        transition-duration:2s;
        transform: scale(1.2); 
    }
      
  .coeur_vide {
    position:absolute;
    color:black;
  }
    
}
.image {
    height:180px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;   
}


.bold{
    @include police-bold;
    transition: all 0.8s ease-in-out;
}

/*icone nouveau*/

.position {
    position: relative;
    display: flex;
    justify-content: flex-end;
    &_nouveau{
        position: absolute;
        background-color: $couleur-fond-nouveau;
        color: $couleur-nouveau;
        padding: 5px;
        margin-right: 10px;
    }  
}
  
  
/*footer*/

.marge { 
    margin-left: 20px;
}

.fond_footer {
    background-color: $couleur-footer;
    color: $couleur-accentuation;
    padding-bottom: 20px;
    padding-top: 20px;
 }

 .logo_footer{
    @include shrikhand;
    @include police-size(20px);
}

.contact{
    text-decoration: none;
    color: inherit;
}

 /*chargement*/
 #loader {
    border: 16px solid $couleur-primaire;
    border-top: 16px solid $couleur-secondaire;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2.5s linear  forwards;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg);
            opacity: 0;
           visibility: hidden;
           animation-fill-mode: forwards; }
  }

  .loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $couleur-accentuation;
    z-index: 9999;
    animation: disparition 3s linear forwards ; 
    
  }

  @keyframes disparition {
    0%{visibility: visible;}

    100% {  
            visibility: hidden;
            position:relative;}
  }

  .loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


/*menu 1*/

.header_menu{
    @include ecran-mobile {
        align-items: center;
    }   
}
.fleche_gauche{
    display: none;
    position: absolute;
    left: 10px;
    @include ecran-mobile{
      display: block; 
    margin-right: 60px;}
}

.fa-arrow-left {
   
    margin-left: 10px;
  }


.image_menu{
    height:200px;
    width: 100%;
    object-fit: cover;  
    position: absolute; 
}

.chapitre{
    @include shrikhand;
    @include centre;
    align-items:center;
    padding-top: 30px;
    @include ecran-mobile{
        justify-content: space-evenly;
    }
    
   
}

.sous_titre{
    font-weight: 400;
    font-size: 20px;
}

/*surlignement sous-titre*/

.sous_titre::after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 3px solid $couleur-tertiaire;
    height: 5px;
}


.conteneur_menu {
    background-color: $couleur-fond-menu;
    border-radius: 30px 30px 0 0;
    position: relative;
    margin-top: 180px; 
}

.repas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 0;
    position: relative;
    @include ecran-mobile{
        flex-direction: column;
        align-items: center;
    } 
}

.bulle_menu{
    border: 1px solid transparent;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 2px 2px $couleur-ombre;
    background-color: $couleur-accentuation;
    width: 45%;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    &:hover .effet{
        transform:translate(0px);
        @include ecran-mobile{
            transform: translatex(55px);
        }     
    }
    &:hover .fa-check{
        transform: rotateZ(360deg);
        @include ecran-mobile{
            transform: rotateZ(80deg);
        }   
    }
    &:hover .bold{
        margin-right: 40px;
        @include ecran-mobile{
            margin-right: 0;  
        }   
        
    }
    &:hover .etc1{
        padding-right: 40px;
        @include ecran-mobile{
            padding-right: 0;  
        }   
    }   
    &:hover .etc2{
        margin-right: 40px;
        @include ecran-mobile{
            margin-right: 0;  
        }   
    }
    @include ecran-mobile{
        width: 90%;
        &:active .effet{
            transform:translate(0px);
            
        }
        &:active .fa-check{
            transform: rotateZ(360deg);
           
        }
        &:active .bold{
            margin-right: 40px;
        }
        &:active .etc1{
            padding-right: 40px;
        }
        &:active .etc2{
            margin-right: 40px;
        }
    }
}


.descriptif_menu{
    display: flex;
    justify-content: space-between;
   
    @include police-size(12px);
    margin-left: 20px;
    margin-right: 20px;
}

/* animation bulles*/

.animation_entrees {
    animation: menu 1s ease-out 0s forwards;
    opacity: 0; 
}
.animation_plats {
    animation: menu 1s ease-out 0.2s forwards;
    opacity: 0;
}
.animation_desserts {
    animation: menu 1s ease-out 0.3s forwards;
    opacity: 0;  
}

@keyframes menu {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
     
    100%{
        transform:translateY(0px);
        opacity: 1;
    }
}
  

/*icone check*/
.rond{
    border-radius: 50px;
    background-color: $couleur-accentuation;
    height: 17px;
    width: 17px;
    position: absolute;
}
.fa-check{
    background-color: $couleur-accentuation;
    color:$couleur-tertiaire;
    border-radius: 50%;
   transform: rotateZ(80deg) ;
    transition: all 0.8s ease-in-out;
}

/* animation block vert*/
.effet{
    background-color: $couleur-tertiaire;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    transform: translateX(55px);
    transition: all 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* rognage texte*/
.etc1{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.etc2 {
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
 
}


