
$couleur-primaire:#9356DC;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-accentuation: #fff;
$couleur-degradé:linear-gradient(to bottom, $couleur-secondaire, $couleur-primaire);
$couleur-ombre:#80808029;
$couleur-icone:#8080804d;
$couleur-footer:#000000c4;
$couleur-survol-filtre:#ae80e538;
$couleur-fond-menu:#eee;
$couleur-fond-nouveau:#99cccc;
$couleur-nouveau:#009966;
$breakpoints: (mobile:760px);
